@model IEnumerable<tranthihuong_cdtt.ViewModels.ProductRevenueVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Doanh thu</h1>
<form asp-action="Index1">
    Từ: <input type="date" name="fromDate" value="@ViewBag.FromDate.ToString("yyyy-MM-dd")" required />
    Đến: <input type="date" name="toDate" value="@ViewBag.ToDate.ToString("yyyy-MM-dd")" required />
    <input type="submit" value="Xem" class="btn btn-info" />
</form>

<!-- https://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/ -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<canvas id="bar-chart" width="800" height="450"></canvas>
@{
    var productNames = Model.Select(p => p.ProductName).ToList();
    var revenues = Model.Select(p => p.Revenue).ToList();
    var labels = "'" + string.Join("', '", productNames) + "'";
}
@section scripts{
    <script>
        $(function () {
            new Chart($("#bar-chart"), {
                type: 'bar',
                data: {
                    labels: [@Html.Raw(labels)],
                    datasets: [
                        {
                            label: "Doanh thu (tr. đ)",
                            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"],
                            data: [@string.Join(", ", revenues)]
                        }
                    ]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: 'Doanh thu bán hàng @ViewBag.FromDate.ToString("dd/MM/yyyy") - @ViewBag.ToDate.ToString("dd/MM/yyyy")'
                    }
                }
            });
        });
    </script>
}